<template>
  <v-card class="mx-auto mb-8" max-width="400">
    <nuxt-link :to="`/${prefix}/${billet.identifiant}`">
      <v-img
        v-if="billet.attributes.image"
        class="white--text align-end"
        max-height="400px"
        :src="`/${billet.attributes.image}`"
      />
      <v-card-title class="justify-center">{{ billet.attributes.title }}</v-card-title>
      <p id="date-billet">{{ dateLisible }}</p>
      <v-card-text>
        <p>
          {{ billet.attributes.description }}
        </p>
        <div v-if="tags.length > 0">
          <span v-for="tag in tags" :key="tag">
            <v-chip class="ma-2" label><span id="tag" />&nbsp;{{ tag }}</v-chip>
          </span>
        </div>
      </v-card-text>
    </nuxt-link>
  </v-card>
</template>

<script>
export default {
  layout: 'default',
  name: 'ApercuBillet',
  props: {
    billet: {
      type: Object,
      required: true,
    },
    prefix: {
      type: String,
      required: true,
    },
  },
  computed: {
    tags() {
      return this.billet.attributes.tags ? this.billet.attributes.tags.split(',') : [];
    },
    dateLisible() {
      return new Date(this.billet.attributes.date).toLocaleDateString();
    },
  },
};
</script>

<style>
#date-billet {
  text-align: right;
  font-size: 14px;
  padding-right: 16px;
}
#tag::after {
  content: '🏷';
  font-size: 22px;
}
</style>
