<template>
  <v-container fluid style="max-width: 450px">
    <address style="text-align: left; font-style: normal">
      <div v-for="contact in contacts" :key="contact.valeur">
        <p v-if="contact.methode === 'Téléphone'">
          <v-icon dense>{{ 'mdi-phone' }}</v-icon
          ><a :href="`tel:${contact.valeur}`"> {{ contact.valeur }}</a>
        </p>
        <p v-else-if="contact.methode === 'Mail'">
          <v-icon dense>{{ 'mdi-at' }}</v-icon>
          <a :href="`mailto:${contact.valeur}`">{{ contact.valeur }}</a>
        </p>
        <p v-else-if="contact.methode === 'Adresse'">
          <v-icon dense>{{ 'mdi-map-marker-outline' }}</v-icon>
          <a @click="openNewTab(contact.googleMaps)"> {{ contact.valeur }}</a>
        </p>
        <p v-else-if="contact.methode !== 'Facebook'">
          {{ contact.methode }} : {{ contact.valeur }}
        </p>
        <p v-else>
          <a :href="contact.valeur" target="_blank"
            ><v-icon>{{ 'mdi-facebook' }}</v-icon> Sur {{ contact.methode }}</a
          >
        </p>
      </div>
    </address>
  </v-container>
</template>

<script>
import contacts from '~/donnees/contacts.js';

export default {
  props: {
    methodeAFiltrer: {
      type: String,
      default: contacts.map((contact) => contact.methode).toString(),
    },
  },
  data() {
    return {
      contacts: contacts.filter((contact) => this.methodeAFiltrer.includes(contact.methode)),
    };
  },
  methods: {
    openNewTab(link) {
      window.open(link);
    },
  },
};
</script>
