<template>
  <div>
    <form
      method="post"
      action="https://newsletter.infomaniak.com/external/submit"
      class="inf-form"
      target="_blank"
    >
      <input type="email" name="email" style="display: none" /><input
        type="hidden"
        name="key"
        value="eyJpdiI6IlVMcE44UkNldlNyZ202TXJsVml4WmFLRVBuTlk5UG9tUGVtV05FVXBvODA9IiwidmFsdWUiOiJcL29mc05VTnBNajVkaG5YRXdXYUlldXBXTGdlWnRlc2dvdzVuaEZaSGtFOD0iLCJtYWMiOiJlNzc0MzI3Y2I4YTdjNmVjNzI4YjFiYjU1MzY0YTcwZTA5YWM2Mjc4MWVhZGQwZjA1NGI5YzYyZWE1NWM0NGY1In0="
      /><input type="hidden" name="webform_id" value="9833" />
      <div class="inf-main_247411fabf61b4245eaaee76924795b7">
        <span
          >Vous aussi, comme votre grand-tante Adélaïde (tata Dide pour les proches), vous souhaitez
          recevoir la newsletter du Marché Bonne Mine dans votre boîte aux lettres électronique ?
          Alors saisissez votre adresse email dans le champ ci-dessous !</span
        >
        <div class="inf-success" style="display: none">
          <h4>Inscription à la newsletter effectuée avec succès !</h4>
          <p><a href="#" class="inf-btn">&laquo;</a></p>
        </div>
        <div class="inf-content">
          <div class="inf-input inf-input-text">
            <input
              type="text"
              name="inf[1]"
              data-inf-meta="1"
              data-inf-error="Merci de renseigner une adresse email"
              required="required"
              placeholder="Email"
              style="background-color: white"
            />
          </div>
          <div class="inf-submit"><input type="submit" name="" value="Valider" /></div>
        </div>
      </div>
    </form>
  </div>
</template>

<style>
.inf-main_247411fabf61b4245eaaee76924795b7 {
  padding: 25px 20px;
  margin: 25px auto;
  background-color: #e5e5e5;
  max-width: 500px;
}
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-content {
  margin-top: 13px;
}
.inf-main_247411fabf61b4245eaaee76924795b7 h4,
.inf-main_247411fabf61b4245eaaee76924795b7 span,
.inf-main_247411fabf61b4245eaaee76924795b7 label,
.inf-main_247411fabf61b4245eaaee76924795b7 input,
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-submit,
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-success p a {
  color: #555;
  font-size: 14px;
}
.inf-main_247411fabf61b4245eaaee76924795b7 h4 {
  font-size: 18px;
  margin: 0 0 13px 0;
}
.inf-main_247411fabf61b4245eaaee76924795b7 h4,
.inf-main_247411fabf61b4245eaaee76924795b7 label {
  font-weight: bold;
}
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-input {
  margin-bottom: 7px;
}
.inf-main_247411fabf61b4245eaaee76924795b7 label {
  display: block;
}
.inf-main_247411fabf61b4245eaaee76924795b7 input {
  height: 35px;
  color: #999;
  border: 1px solid #e9e9e9;
  padding-left: 7px;
}
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-input.inf-error label,
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-input.inf-error span.inf-message {
  color: #c03;
}
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-input input {
  width: 100%;
}
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-submit input {
  background-color: #1b9b9c;
  color: #fff;
  border: none;
  font-weight: normal;
  height: auto;
  padding: 7px;
}
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-input.inf-error input {
  border: 1px solid #c03;
}
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-input.inf-error span.inf-message {
  display: block;
}
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-submit {
  text-align: right;
}
.inf-main_247411fabf61b4245eaaee76924795b7 .inf-submit input.disabled {
  opacity: 0.4;
}
.inf-btn {
  color: rgb(85, 85, 85);
  border: medium none;
  font-weight: normal;
  height: auto;
  padding: 7px;
  display: inline-block;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  line-height: 1em;
}
.inf-rgpd {
  margin: 25px 0 15px 0;
  color: #555;
}
</style>
