<template>
  <div>
    <!-- <div v-if="!isMobile" class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <v-img
            src="/affiche-noel-mbm-2025.jpg"
            alt="affiche noël au MBM le 18 décembre 2025"
            title="affiche marché de noël"
            :contain="true"
          />
          <br />
          <p><b>Survolez l'image pour afficher le planning de décembre !</b></p>
        </div>
        <div class="back">
          <v-img
            src="/2412-numerique.png"
            :title="planningTitle"
            :alt="planningAltText"
            :contain="true"
          />
        </div>
      </div>
    </div>
    <div v-else>
      <div>
        <v-img
          src="/affiche-noel-mbm-2025.jpg"
          alt="affiche noël au MBM"
          title="affiche marché de noël"
          :contain="true"
        />
      </div>
      <div>
        <v-img
          src="/2512-numerique.png"
          :title="planningTitle"
          :alt="planningAltText"
          :contain="true"
        />
      </div>
    </div> -->
    <div>
      <v-img
        src="/2503-numerique.png"
        :title="planningTitle"
        :alt="planningAltText"
        :contain="true"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isMobile: false,
      planningAltText:
        "Affiche du marché Bonne Mine de mars. Marché ouvert tous les samedis de 9h à 12h au GAEC La Chèvre de Milo, Sourcieux-les-Mines. Adresse : 142, route du Cervais 69210 Sourcieux-les-Mines. Produits disponibles en vente directe : - Fromages de chèvre - La Chèvre de Milo (AB, Sourcieux-les-Mines) - Légumes - La Ferme du Petit Arbre (AB, Savigny) - Pain - O Pain d'Autrefois (Sourcieux-les-Mines) - Œufs - Zeubio (AB, Saint-Julien-sur-Bibost) - Miel - Au rythme des abeilles (AB, Châtillon) - Pommes - Le verger des Presles (AB, Pollionnay) Événements spéciaux : - Samedi 1er mars : Champignons, tempeh, farine - Champimonts du Lyonnais (AB, Villechenève) - Samedi 15 mars (3ème samedi du mois, artisanat) :   - Affûteur itinérant - FX Chastang   - Confitures, gelées - Les Cuillères d'Eddy (récoltes sauvages)   - Saint-Nectaire fermier - GAEC Les Moussages (AB, Labessette)   - Champignons, tempeh, farine - Champimonts du Lyonnais (AB, Villechenève) - Samedi 29 mars :   - Vin rouge & blanc - Martin Thiberge, vigneron furtif (AB, Ternand)   - Œufs, savons - Zeubio (AB, Saint-Julien-sur-Bibost)   - Champignons, tempeh, farine - Champimonts du Lyonnais (AB, Villechenève)   - Fruits, jus - Le verger des Presles (AB, Pollionnay) Contact : contact@marchebonnemine.fr Facebook : facebook.com/marchebonnemine",
      planningTitle: 'Planning du mois de mars 2025 au Marché Bonne Mine (Sourcieux-les-Mines).',
    };
  },
  mounted() {
    this.isMobile = window.innerWidth <= 760;

    window.addEventListener('resize', () => {
      this.isMobile = window.innerWidth <= 760;
    });
  },
};
</script>

<style>
/* entire container, keeps perspective */
.flip-container {
  perspective: 3500px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 544px;
  height: 800px;
}

@media screen and (max-width: 760px) {
  .flip-container {
    perspective: 1000px;
  }

  .flip-container,
  .front,
  .back {
    width: 320px;
    height: 480px;
  }
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;

  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
</style>
