<template>
  <section>
    <div class="container">
      <v-carousel
        :continuous="false"
        :cycle="true"
        :show-arrows="true"
        hide-delimiter-background
        height="auto"
      >
        <v-carousel-item v-for="(billet, i) in billets" :key="i">
          <apercu-billet
            :key="billet.identifiant"
            :prefix="prefix"
            :billet="billet"
          ></apercu-billet>
        </v-carousel-item>
      </v-carousel>
      <!-- <div v-for="i in Math.ceil(billets.length / 3)" :key="i" class="row row-grid">
        <apercu-billet
          v-for="billet in billets.slice((i - 1) * 3, i * 3)"
          :key="billet.identifiant"
          :prefix="prefix"
          :billet="billet"
        ></apercu-billet>
      </div> -->
    </div>
  </section>
</template>

<script>
import ApercuBillet from '~/components/ApercuBillet.vue';
export default {
  name: 'Presentoir',
  components: {
    ApercuBillet,
  },
  props: {
    prefix: {
      type: String,
      required: true,
    },
    billets: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>
