<template>
  <div>
    <article class="billet pb-0">
      <h1>
        {{ billet.attributes.title }}
      </h1>

      <!-- eslint-disable-next-line vue/no-v-html -->
      <div class="billet-contenu" v-html="billet.html" />

      <h4 class="date-billet">
        <i>{{ new Date(billet.attributes.date).toLocaleDateString('fr-FR') }}</i>
      </h4>
    </article>
    <NuxtLink to="/gazette">&lt; Retour à la gazette</NuxtLink>
  </div>
</template>

<script>
export default {
  layout: 'default',
  name: 'BilletComplet',
  async asyncData({ params }) {
    try {
      const billet = await import(`~/gazette/${params.identifiant}.md`);
      return {
        billet,
      };
    } catch (err) {
      return false;
    }
  },
  head() {
    return {
      title: `Marché Bonne Mine - ${this.billet.attributes.title}`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `${this.billet.attributes.description}`,
        },
      ],
    };
  },
};
</script>
