<template>
  <div>
    <h2>La Gazette du Marché Bonne Mine</h2>
    <br />
    <v-row>
      <v-col cols="12">
        <presentoir prefix="gazette" :billets="billets" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Presentoir from '~/components/Presentoir.vue';
export default {
  layout: 'default',
  name: 'Gazette',
  components: {
    Presentoir,
  },
  async asyncData() {
    const resolve = require.context('~/gazette/', true, /\.md$/);

    // On récupère le contenu des fichiers à l'extension markdown contenus dans le dossier 'billets' (en forçant le synchrone)
    const billets = await resolve.keys().map((key) => {
      const [, identifiant] = key.match(/\/(.+)\.md$/);

      // On examine le nom du fichier et on lui assigne un identifiant
      return Object.assign(resolve(key), { identifiant });
    });

    // Ici on transforme la date en nombre de secondes écoulées depuis le 1er janvier 1970 00:00:00 UTC (=> temps UNIX)
    billets.forEach((billet) => {
      Object.assign(billet, { timestamp: new Date(billet.attributes.date).getTime() });
    });

    // Puis on trie grâce au temps UNIX : les billets les plus récents seront en haut de page
    billets.sort((a, b) => b.timestamp - a.timestamp);

    // On élimine les billets qui ne sont pas encore d'actualités
    const billetsActifs = billets.filter((billet) => billet.timestamp < new Date().getTime());

    return {
      billets: billetsActifs,
    };
  },
  head() {
    return {
      title: 'La Gazette du Marché',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            "Le Marché Bonne Mine ce n'est pas que de la bonne humeur, de l'humour, des excellents produits issus de l'agriculture locale ou de l'humilité. Non, c'est aussi une Gazette : des billets d'humeur et d'informations agrémentés d'un brin de paysannerie de la part de vos producteurs.",
        },
      ],
    };
  },
};
</script>
