h2 {
  text-align: center;
  font-size: 2.2rem;
}

a {
  text-decoration: none;
}

.v-card__text,
.v-card__title {
  word-break: normal !important;
}

.unicode-icon {
  font-size: 25px;
}

.billet {
  max-width: 800px;
  margin: auto;

  .date-billet {
    text-align: right;
    font-weight: 100;
  }

  .billet-contenu {
    padding: 10px 0 0 0;

    h2 {
      text-align: left;
      font-size: 1.9rem;
    }

    img {
      max-width: 100%;
      max-height: 400px;
      height: auto;
      align-items: center;
      display: block;
      margin: auto;
    }

    .affiche-evenement {
      max-height: 800px;
    }

    .planning-gazette {
      max-height: 2906px;
    }

    .aligne-a-droite {
      float: right;
      margin: 10px;
    }

    .aligne-a-gauche {
      float: left;
      margin: 10px;
    }
  }

  .carte-producteur {
    height: 450px;
  }
}
