<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" :mobile-breakpoint="760" fixed app>
      <v-img id="logo" alt="Logo du Marché Bonne Mine" src="/icon_round.png" :contain="true" />
      <v-list>
        <v-list-item
          v-for="(navigationItem, i) in navigationItems"
          :key="i"
          :to="navigationItem.to"
          router
          exact
        >
          <v-list-item-content>
            <v-list-item-title>{{ navigationItem.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-btn icon style="bottom: 10px; left: 10px; position: absolute"
        ><a :href="facebook" target="blank" style="color: #3f51b5"
          ><v-icon x-large>{{ 'mdi-facebook' }}</v-icon></a
        ></v-btn
      >
    </v-navigation-drawer>
    <v-app-bar
      id="nav-bar"
      fixed
      app
      src="/icon_round.png"
      prominent
      shrink-on-scroll
      color="white"
    >
      <template v-slot:img="{ props }">
        <v-img id="logo-nav-bar" v-bind="props" :contain="true" />
      </template>
      <div id="menu-burger" @click.stop="drawer = !drawer">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ title }} - {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import contacts from '~/donnees/contacts';
export default {
  data() {
    return {
      facebook: contacts.find((contact) => contact.methode === 'Facebook').valeur,
      drawer: false,
      fixed: true,
      navigationItems: [
        {
          title: 'Accueil',
          to: '/accueil',
        },
        {
          title: 'Production & artisanat',
          to: '/les-producteurs',
        },
        {
          title: 'La Gazette du Marché',
          to: '/gazette',
        },
        {
          title: 'La Charte du MBM',
          to: '/charte',
        },
        {
          title: 'Contact',
          to: '/contact',
        },
        {
          title: 'Inscription à la newsletter',
          to: '/inscription-newsletter',
        },
      ],
      title: 'Marché Bonne Mine',
    };
  },
  mounted() {
    this.$OneSignal.registerForPushNotifications();
  },
};
</script>

<style>
#menu-burger {
  cursor: pointer;
  margin: auto;
  display: block;
}
#menu-burger span {
  display: block;
  margin: 3px;
  height: 2px;
  width: 18px;
  background: #707070;
  border-radius: 9px;
}
#logo-nav-bar {
  max-height: 128px;
}
@media screen and (min-width: 760px) {
  #menu-burger {
    display: none;
  }
  #nav-bar {
    display: none;
  }
  .v-main {
    padding-top: 0 !important;
  }
}
</style>
