<template>
  <div>
    <v-container style="padding: 1rem">
      <v-row>
        <v-col cols="12" md="6" align="center">
          <planning />
          <!-- <p v-if="!isMobile" class="my-0 py-0" style="font-size: 13px">
            Survolez ou cliquez sur l'image pour la retourner
          </p> -->
        </v-col>
        <v-col cols="12" md="6">
          <p>{{ description }}</p>
          <p>
            <a :href="adresse.googleMaps" target="blank">
              <v-icon dense>{{ 'mdi-map-marker-outline' }}</v-icon> {{ adresse.valeur }}</a
            >
          </p>
          <p>
            <nuxt-link to="/les-producteurs"
              >Plus d'informations sur les entreprises de production agricole et d'artisanat local
              présentes au Marché Bonne Mine</nuxt-link
            >
          </p>
          <p>
            <nuxt-link to="/gazette"
              >Plus d'informations sur les évènements organisés et soutenus par le Marché Bonne
              Mine</nuxt-link
            >
          </p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Contact from '~/components/Contact.vue';
import Planning from '~/components/Planning.vue';
import description from '~/donnees/description.ts';
import infoPages from '~/donnees/infoPages.js';
import contacts from '~/donnees/contacts';

export default {
  components: { Contact, Planning },
  async asyncData() {
    const resolve = require.context('~/gazette/', true, /\.md$/);

    // On récupère le contenu des fichiers à l'extension markdown contenus dans le dossier 'gazette' (en forçant le synchrone)
    const billets = await resolve.keys().map((key) => {
      const [, identifiant] = key.match(/\/(.+)\.md$/);

      // On examine le nom du fichier et on lui assigne un identifiant
      return Object.assign(resolve(key), { identifiant });
    });

    // Ici on transforme la date en nombre de secondes écoulées depuis le 1er janvier 1970 00:00:00 UTC (=> temps UNIX)
    billets.forEach((billet) => {
      Object.assign(billet, { timestamp: new Date(billet.attributes.date).getTime() });
    });

    // Puis on trie grâce au temps UNIX : les billets les plus récents seront en haut de page
    billets.sort((a, b) => b.timestamp - a.timestamp);

    // On élimine les billets qui ne sont pas encore d'actualités
    const billetsActifs = billets.filter((billet) => billet.timestamp < new Date().getTime());

    return {
      derniersBillets: billetsActifs.slice(0, 5),
    };
  },
  data() {
    return {
      adresse: contacts.find((contact) => contact.methode === 'Adresse'),
      description,
      isMobile: false,
    };
  },
  mounted() {
    this.isMobile = window.innerWidth <= 760;

    window.addEventListener('resize', () => {
      this.isMobile = window.innerWidth <= 760;
    });
  },
  head() {
    return {
      title: `${infoPages.mainTitle} - Accueil`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: infoPages.default,
        },
      ],
    };
  },
};
</script>
