<template>
  <v-col cols="12" align="center">
    <v-img
      id="Charte"
      src="/charte-12-commandements-mini.jpg"
      alt="Charte Marché Bonne Mine"
      :contain="true"
    />
  </v-col>
</template>

<script>
import infoPages from '~/donnees/infoPages.js';

export default {
  data() {
    return {};
  },
  head() {
    return {
      title: `${infoPages.mainTitle} - La Charte des commerçants`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: infoPages.charte,
        },
      ],
    };
  },
};
</script>

<style>
#Charte {
  max-width: 800px;
}
</style>
