<template>
  <div>
    <v-container style="text-align: center">
      <v-row>
        <v-col cols="12" align="center">
          <h2>Contactez-nous !</h2>
          <flyer />
        </v-col>
        <v-col cols="12">
          <contact />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Contact from '~/components/Contact.vue';
import infoPages from '~/donnees/infoPages.js';
import Flyer from '~/components/Flyer.vue';

export default {
  components: {
    Contact,
    Flyer,
  },
  head() {
    return {
      title: `${infoPages.mainTitle} - Contact`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: infoPages.contact,
        },
      ],
    };
  },
};
</script>
