<template>
  <div>
    <iframe src="https://framaforms.org/marche-bonne-mine-en-fete-seconde-edition-le-30-septembre-2023-1695037514" width="100%" height="800" border="0"></iframe>
  </div>
</template>

<script>
import infoPages from '~/donnees/infoPages.js';

export default {
  data() {
    return {};
  },
  head() {
    return {
      title: `${infoPages.mainTitle} - En fête`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: infoPages.fete,
        },
      ],
    };
  },
};
</script>

<style>
#repas-complet {
  align-items: center;
}
</style>
