<template>
  <div>
    <h2>S'inscrire à la newsletter du Marché Bonne Mine</h2>
    <br />
    <v-row>
      <v-col cols="12">
        <inscription-newsletter />
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  layout: 'default',
  name: 'Newsletter',
  components: {},
  head() {
    return {
      title: 'Inscription newsletter',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Inscrivez-vous à la newsletter du Marché Bonne Mine pour avoir des informations toutes les semaines !',
        },
      ],
    };
  },
};
</script>
