<template>
  <v-container>
    <v-row>
      <v-col v-for="(producteur, index) in producteurs" :key="index" md="4" sm="6" xs="12">
        <v-card class="mx-auto carte-producteur flex d-flex flex-column" max-width="344">
          <v-img :src="producteur.image" height="300px" contain></v-img>

          <v-card-title> {{ producteur.nom }} </v-card-title>

          <v-card-subtitle class="flex"> {{ producteur.adresse }} </v-card-subtitle>

          <v-card-actions>
            <v-btn v-if="producteur.site" icon>
              <a :href="producteur.site" target="blank" style="color: #546e7a"
                ><v-icon>{{ 'mdi-open-in-new' }}</v-icon></a
              >
            </v-btn>

            <v-spacer v-if="producteur.site"></v-spacer>

            <v-btn v-if="producteur.facebook" icon
              ><a :href="producteur.facebook" target="blank" style="color: #3f51b5"
                ><v-icon>{{ 'mdi-facebook' }}</v-icon></a
              ></v-btn
            >

            <v-spacer v-if="producteur.facebook"></v-spacer>

            <v-btn v-if="producteur.twitter" icon
              ><a :href="producteur.twitter" target="blank" style="color: #64b5f6"
                ><v-icon>{{ 'mdi-twitter' }}</v-icon></a
              ></v-btn
            >

            <v-spacer v-if="producteur.twitter"></v-spacer>

            <v-btn v-if="producteur.instagram" icon
              ><a :href="producteur.instagram" target="blank" style="color: #fb8c00"
                ><v-icon>{{ 'mdi-instagram' }}</v-icon></a
              ></v-btn
            >

            <v-spacer></v-spacer>

            <v-btn icon @click="show(index)">
              <v-icon v-if="producteur.description">{{
                isClicked === index ? 'mdi-chevron-up' : 'mdi-chevron-down'
              }}</v-icon>
            </v-btn>
          </v-card-actions>

          <v-expand-transition>
            <v-card
              v-if="isClicked === index"
              class="transition-fast-in-fast-out v-card--reveal"
              style="height: auto"
            >
              <v-card-text class="pb-0">
                {{ producteur.description }}
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn icon class="chevron-en-carte" @click="show(index)">
                  <v-icon v-if="producteur.description">{{
                    isClicked === index ? 'mdi-chevron-up' : 'mdi-chevron-down'
                  }}</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-expand-transition>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import infoPages from '~/donnees/infoPages.js';
import { shuffleProducteurs } from '~/donnees/producteurs.js';

export default {
  data() {
    return {
      producteurs: [],
      isClicked: -1,
    };
  },
  mounted() {
    this.producteurs = shuffleProducteurs();
  },
  methods: {
    show(index) {
      this.isClicked = this.isClicked === index ? -1 : index;
    },
    openNewTab(link) {
      window.open(link);
    },
  },
  head() {
    return {
      title: `${infoPages.mainTitle} - Production & artisanat`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: infoPages.producteurs,
        },
      ],
    };
  },
};
</script>

<style>
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute !important;
  width: 100%;
}
.chevron-en-carte {
  bottom: 1px;
  right: 1px;
}
</style>
